/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
  max-width: 102em;
}


/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}


/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
}



/*
 * Roll the Dice
 */

 .box {
   width: 82em;
 }

.left-panel {
  float: left;
  width: 50%;
  height: 32em;
  background-color: #ff8e8e;
}

.right-panel {
  float: right;
  width: 50%;
  height: 32em;
  background-color: #4fbddf;
}

.btn-roll {
  float: right;
  margin-top: 1.6em;
  margin-right: 0.5em;
}

.btn-skip {
  float: left;
  margin-top: 1.6em;
  margin-left: 0.5em;
}

.player-name {
  text-transform: uppercase;
  letter-spacing: 0.5em;
  font-weight: 500;
  font-size: 1.5em;
  margin-top: 2em;
  margin-bottom: 4em;
  position: relative;
}

.player-roll {
  letter-spacing: 0.5em;
  font-weight: 300;
  font-size: 6em;
  margin-bottom: 0.7em;
}

.player-count {
  text-transform: uppercase;
  letter-spacing: 0.5em;
  font-weight: 200;
  margin-bottom: 0.3em;
}

.player-score {
  text-transform: uppercase;
  letter-spacing: 0.5em;
  font-weight: 200;
  position: relative;
}